<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebAssembly</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="/_vercel/insights/script.js"></script>
</head>

<body class="p-8">
    <h1 class="text-2xl blod mb-6">WebAssembly Test Suite Anaylzer</h1>
    <div class="p-4">
        {{#each files}}
        <h2 class="text-xl">{{@key}}</h2>
        <ul class="mb-4">
            {{#each this}}
            <li class="ml-2 text-blue-400 underline"><a href="/{{this}}.html" class="">{{this}}</a></li>
            {{/each}}
        </ul>
        {{/each}}
    </div>
</body>

</html>
